html {
  scroll-behavior: smooth;
}

body {

}

/*Text Styling*/

p {
	font-family: "Chivo";
	font-weight: 300;
	font-size: 18px;
	color: #27272F;
	line-height: 1.8;
}

/*600 is medium for Avenir Next*/
p > b {
	font-weight: 600;
}

/* Home Banner Texts */
.banner h1 {
	font-size: 32px;
}

.banner h2 {
	font-size: 26px;
	line-height: 1.45;
}

.banner h1, .banner h2 {
	font-family: "Chivo";
	font-weight: 300;
	color: #27272F;
	overflow: hidden; 
	margin: 0 auto;
	white-space: nowrap;
}

/* Titles */
.card-body h3, .container h3 {
	font-family: "Chivo";
	color: #27272F;
	font-size: 32px;
	font-weight: 400;
	margin: 20px 0px 10px 0px;
	line-height: 1.45;
}

.block-custom h3 {
	font-family: "Chivo";
	color: #27272F;
	font-size: 32px;
	font-weight: 400; 
	margin: 20px 0px 10px 0px;
	line-height: 1.45;
}

/* Headers */
.col h4, .block-custom-content h4, .container h4 {
	font-family: "Chivo";
	color: #27272F;
	font-size: 24px;
	font-weight: 400; 
	letter-spacing: .6px;
	line-height: 1.5;
}

/* Sub-header */
.col-sm-10 h5, .container h5 {
	font-family: "Chivo";
	color: #27272F;
	font-size: 22px;
	font-weight: 700; /*700 is bold*/
	letter-spacing: .6px;
	line-height: 1.5;
	text-align: center;
	margin: 40px 0px 40px 0px;
}

/* Grey Small All Cap Texts */
.card-body h6, .block-custom h6 {
	font-family: "Chivo";
	font-size: 14px;
	font-weight: 400;
	color: #ceced6;
	margin: 10px 0px 10px 0px;
	letter-spacing: 1px;
}

.white-text {
	color: white !important;
}


/* Text Emphasis Styling */
em.green-em {
	font-style: normal;
	color: #3FC797;
}

em.pink-em {
	font-style: normal;
	color: #F37087;
}

em.yellow-em {
	font-style: normal;
	color: #DBCB38;
}

em.orange-em {
	font-style: normal;
	color: #E89160;
}

em.blue-em {
	font-style: normal;
	color: #62AAFF;
}

em.black-em {
	font-style: normal;
	background-color: rgba(30, 30, 47, 0.7); ;
}

em.red-em {
	font-style: normal;
	color: #E86065;
}

li {
	font-family: "Chivo";
	font-weight: 400 !important;
	font-size: 16px;
	line-height: 1.8;
}


/* Nav Bar */
/* navbar background color */
.navbar-custom {
	background-color: #ffffff;
	border-bottom: 0.5px solid #E8E8E8;
	height: 60px;
}

/* logo */
.navbar-custom .navbar-brand {
	font-size: 18px;
}

/* nav items styling */
.navbar-custom .nav-item {
	font-family: "Chivo";
	font-weight: 300;
	margin: 10px 30px 10px 30px;
}

.navbar-nav.navbar-center {
	position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* nav item link default color */
.navbar-light .navbar-nav .nav-item .nav-link {
 	color: #B5B5B5;
}

/* changing the Navbar link colors on hover active focus */
.navbar-light .navbar-nav .nav-item.active .nav-link,
.navbar-light .navbar-nav .nav-item:focus .nav-link,
.navbar-light .navbar-nav .nav-item:hover .nav-link {
    color: #27272F;
}



/* Banner Section */
.banner {
	height: 90vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Cursor */
.txt-type > .cursor-effect {
	border-right: .2rem solid #969696;
	padding-right: 3px;
}


/* Fade In Text Animation*/
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	animation-duration: 2s;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/*delay a few seconds before fadeing in*/
.fade-in.delay {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}

.workindicator {
	position: absolute;
	margin-top: 80vh;
}

.jump-button {
	font-family: "Chivo";
	font-weight: 300;
	font-size: 18px;
	color: #B5B5B5;
}

.backtotop {
	width:100%;
	height: 100px;
	text-align: center;
}

/* Styling contact info buttons */
.contacts-button {
	font-family: "Chivo";
	font-weight: 300;
	font-size: 18px;
}

a.floathover {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

a.floathover:hover {
	cursor:pointer;
    -webkit-transform: translateY(-8px);
  	transform: translateY(-8px);
  	text-decoration: none;
}


.btn-custom {
	background-color: #27272F;
	font-family: "Chivo";
	font-size: 16px;
	font-weight: 500;
	color: white;
	padding: 10px 40px 10px 40px;
	border: none;
	border-radius: 30px;
	max-width: 300px;
}

.btn-custom:hover {
	background-color: #3FC797;
	text-decoration: none;
	color: white;
}

/*card styling */

div.card {
	border: none;
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),
		.3s box-shadow,
		.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  	cursor: pointer;

}

.card:hover, .container.card {
	transform: scale(1.01);
	border: none;
}

.card-body, , .container.card-body{
  	margin: 30px;
}

div.darken {
	background-color: black;
	border-radius: 8px;
}

/*About Page*/
#profile-img {
	max-width: 400px;
	margin-bottom: 40px;
}

#about-container-custom {
	margin: 100px 20px 100px 20px;
}


/*Footer*/
.footer-custom {
	background-color: #ffffff;
	/*box-shadow: 0px -1px 4px 1px rgba(145, 163, 152, 0.2);*/
	border-top: 0.5px solid #E8E8E8;
	height: 80px;
}

/*Project Detail Pages*/
.block-custom {
	margin-bottom: 150px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

.block-custom-content {
	margin-bottom: 150px;
}

.des-process-image {
	background-image: url("../img_artie/desprocess.png");
	width: 100%;
}

.pink-blob {
	padding: 30px 20px;
	background-color: #F8D7EA;
	border-radius: 100px;
}

.blue-blob {
	padding: 30px 20px;
	background-color: #B6E0ED;
	border-radius: 100px;
}

.green-blob {
	padding: 30px 20px;
	background-color: #B6EDDA;
	border-radius: 100px;
}

.lightbox-hover {
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.lightbox-hover:hover {
	transform: scale(1.02);
  	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.white-block {
	background-color: white;
	box-shadow: box-shadow: 0px 1px 4px 1px rgba(145, 163, 152, 0.2);
}
