body {

}

/*Text Styling*/

p {
	font-family: "Avenir Next";
	font-weight: 400;
	font-size: 18px;
	color: #27272F;
	line-height: 1.8;
}

/*600 is medium for Avenir Next*/
p > b {
	font-weight: 600;
}

/* Home Banner Texts */
h1 {
	font-size: 55px;
}

h2 {
	font-size: 30px;
	line-height: 1.45;
}

h1, h2 {
	font-family: "Palatino Linotype";
	color: #27272F;
	overflow: hidden; 
	margin: 0 auto;
	white-space: nowrap;
	text-align: center;
}

/* Titles */
.card-body h3 {
	font-family: "Poppins";
	color: #27272F;
	font-size: 38px;
	font-weight: 700; /*700 is bold*/
	margin: 20px 0px 10px 0px;
}

.block-custom h3 {
	font-family: "Poppins";
	color: #27272F;
	font-size: 38px;
	font-weight: 700; /*700 is bold*/
	margin: 20px 0px 10px 0px;
}

/* Headers */
.col h4, .block-custom-content h4 {
	font-family: "Poppins";
	color: #27272F;
	font-size: 24px;
	font-weight: 700; /*700 is bold*/
	letter-spacing: .6px;
	line-height: 1.5;
}

/* Sub-header */
.col-sm-10 h5 {
	font-family: "Poppins";
	color: #27272F;
	font-size: 22px;
	font-weight: 700; /*700 is bold*/
	letter-spacing: .6px;
	line-height: 1.5;
	text-align: center;
	margin: 40px 0px 40px 0px;
}

/* Grey Small All Cap Texts */
.card-body h6, .block-custom h6 {
	font-family: "Poppins";
	font-size: 14px;
	font-weight: 700;
	color: #ceced6;
	margin: 10px 0px 10px 0px;
	letter-spacing: 1px;
}

.white-text {
	color: white !important;
}


/* Text Emphasis Styling */
em.green-em {
	font-style: normal;
	background-color: #B6EDDA; 
}

em.pink-em {
	font-style: normal;
	background-color: #F8D7EA;
}

em.yellow-em {
	font-style: normal;
	background-color: #FFFACF;
}

em.blue-em {
	font-style: normal;
	background-color: #B6E0ED;
}

em.black-em {
	font-style: normal;
	background-color: rgba(30, 30, 47, 0.7); ;
}

/* Nav Bar */
/* navbar background color */
.navbar-custom {
	background-color: #ffffff;
	box-shadow: 0px 1px 4px 1px rgba(145, 163, 152, 0.2);
}

/* brand styling */
.navbar-custom .navbar-brand {
	font-family: "Palatino Linotype";
	margin-left: 30px;
	font-size: 30px;

}

/* nav item styling */
.navbar-custom .nav-item {
	font-family: "Avenir Next";
	font-weight: 500;
	margin: 5px 30px 5px 30px;
}

/* nav item link default color */
.navbar-light .navbar-nav .nav-item .nav-link {
 	color: #27272F;
}

/* changing the Navbar link colors on hover active focus */
.navbar-light .navbar-nav .nav-item.active .nav-link,
.navbar-light .navbar-nav .nav-item:focus .nav-link,
.navbar-light .navbar-nav .nav-item:hover .nav-link {
    color: #47B58F;
}

/* Banner Section */
.banner {
	margin-top: 250px;
}

/* Fade In Text Animation*/
.fade-in {
	margin-top: 50px; 
	opacity:0;  /* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	animation-duration: 2s;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/*delay a few seconds before fadeing in*/
.fade-in.delay {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}

/* Styling "Read more about me" button */
.banner .about-button {
	font-family: "Palatino Linotype";
	font-size: 24px;
	color: #969696;
	text-decoration: none;
	text-align: center;
}

/* "Read more about me" button float on hover */
.about-button:hover {
	-webkit-transform: perspective(8px) translateZ(0);
	transform: perspective(8px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	color: #27272F;
}

.banner.about-button:hover, .banner.about-button:focus, .banner.about-button:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
}


/* Tabs */
#tab-wrapper {
	margin: 350px 0px 100px 0px;
}

/* tab custom style */
.nav-tabs .tab-item-custom .tab-link-custom {
	font-family: "Palatino Linotype";
	color: #969696;
	font-size: 30px;
	text-decoration: none;
	padding: 0px 50px 0px 50px;
}

/*override default tab style*/
ul#tabs.nav.nav-tabs {
    border-bottom: none;
}

/*tab hovered active or focus*/
.nav-tabs .tab-item-custom.active .tab-link-custom,
.nav-tabs .tab-item-custom:hover .tab-link-custom,
.nav-tabs .tab-item-custom:focus .tab-link-custom {
	color: #27272F;
}

/*Top margin above tab content*/
.tab-content {
	margin-top: 50px;
}

.btn-custom {
	background-color: #27272F;
	font-family: "Avenir Next";
	font-size: 16px;
	font-weight: 500;
	color: white;
	padding: 10px 40px 10px 40px;
	border: none;
	border-radius: 30px;
	max-width: 300px;
}

.btn-custom:hover {
	background-color: #3FC797;
	text-decoration: none;
	color: white;
}

/*card styling */
.tab-content .tab-pane .card {
	border: none;
	box-shadow: 0px 1px 4px 1px rgba(145, 163, 152, 0.2);
}

.card {
	margin-bottom: 40px;
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  	cursor: pointer;
}

.card:hover {
	transform: scale(1.02);
  	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-body{
  	margin: 30px;
}

/*About Page*/
#profile-img {
	max-width: 400px;
	margin-bottom: 40px;
}

#about-container-custom {
	margin: 100px 20px 100px 20px;
}


/*Footer*/
.footer-custom {
	background-color: #ffffff;
	box-shadow: 0px -1px 4px 1px rgba(145, 163, 152, 0.2);
	height: 80px;
}

/*Project Detail Pages*/
.block-custom {
	margin-bottom: 150px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

.block-custom-content {
	margin-bottom: 150px;
}

.des-process-image {
	background-image: url("../img_artie/desprocess.png");
	width: 100%;
}

.pink-blob {
	padding: 30px 20px;
	background-color: #F8D7EA;
	border-radius: 100px;
}

.blue-blob {
	padding: 30px 20px;
	background-color: #B6E0ED;
	border-radius: 100px;
}

.green-blob {
	padding: 30px 20px;
	background-color: #B6EDDA;
	border-radius: 100px;
}

.lightbox-hover {
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.lightbox-hover:hover {
	transform: scale(1.02);
  	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
